.list-container{
    .header{
        font-weight: bold;
    }
    .header,.entity{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        font-size: 18px;
        align-items: center;
        .head{
            padding: 10px 15px;
            width: 15%;
        }
        .cell{
            padding: 10px 15px;
            width: 15%;
        }
        .actions {
            width: 15%;
            text-align: right;
            .delete{
                color: red;
            }
            mat-icon{
                cursor: pointer;
            }
        }
    }
}