.countries-container{
    padding: 40px;
    .header{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        mat-icon{
            height: 40px;
            width: 40px;
            font-size: 40px;
            cursor: pointer;
        }
    }
}