.contries-list-container{
    .header{
        font-weight: bold;
    }
    .header,.country{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        font-size: 18px;
        align-items: center;
        .name{
            padding: 10px 15px;
            width: 50%;
        }
        .rank{
            padding: 10px 15px;
            width: 30%;
            text-align: right;
        }
        .actions {
            width: 20%;
            text-align: right;
            .delete{
                color: red;
            }
            mat-icon{
                cursor: pointer;
            }
        }
    }
}