<div class="add-edit-country-container">
    <div class="form-header">
        {{isAdd?'Add Country':'Edit Country'}}
    </div>
    <form (ngSubmit)="addCountry()">
        <mat-form-field>
            <mat-label>Country Name</mat-label>
            <input matInput required type="text" [(ngModel)]="country.name" name="countryName" type="countryName" placeholder="Enter Country Name...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Genral Rank</mat-label>
            <input matInput required type="number" min="1" [(ngModel)]="country.rank" name="generalRank" type="generalRank" placeholder="Enter General Rank...">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">{{isAdd?'Add':'update'}}</button>
            <div class="error-msg" *ngIf="showError">{{errorMsg}}</div>
        </div>
    </form>
</div>