.add-edit-country-container{
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    .form-header{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        mat-form-field{
            width: 40%;
        }
        margin-bottom: 20px;
    }
}