<div class="countries-container">
    <div class="header">
       <div class="list-header">Players</div>
       <div class="add-country">
           <mat-icon (click)="showAdd()" *ngIf="!addEditFormVisible && isAdd">add_circle</mat-icon>
           <mat-icon (click)="hideAdd()" *ngIf="addEditFormVisible && isAdd">cancel</mat-icon>
       </div>
    </div>
    <add-edit-player *ngIf="addEditFormVisible"
                      [isAdd]="isAdd"
                      [player]="player"
                      (updatedPlayer)="addOrUpdatePlayer($event)"></add-edit-player>
    <list [data]="data" [headers]="headers"
                    (edit)="editPlayer($event)"></list>
</div>